x-service-provisioning-base: &provisioning-base
  build:
    args:
      GID: ${GID:-0}
      UID: ${UID:-0}
    context: Dockerfile.d/provisioning
  # command:
  #   - zsh
  #   - -ic
  #   - |
  #     rm -rf /tmp/provisioning/.terraform.d
  #     /project/scripts/provisioning.init-with-azure.sh
  #     /project/scripts/provisioning.init-with-google.sh
  environment:
    - CURRENT_ENV_NAME
    - PROJECT_UNIQUE_ID
    - AWS_ACCESS_KEY_ID
    - AWS_ACCOUNT_ID
    - AWS_DEFAULT_REGION
    - AWS_SECRET_ACCESS_KEY
    - AZURE_DEFAULT_LOCATION
    - ARM_CLIENT_ID
    - ARM_CLIENT_SECRET
    - ARM_SUBSCRIPTION_ID
    - ARM_TENANT_ID
    - AZURE_SERVICE_PRINCIPAL=/project/config/${CURRENT_ENV_NAME}/credentials/azure-service-principal.json
    - CLOUDSDK_CORE_PROJECT
    - GOOGLE_APPLICATION_CREDENTIALS=/project/config/${CURRENT_ENV_NAME}/credentials/google-cloud-keyfile.json
    - TF_DATA_DIR=/tmp/provisioning/.terraform.d/
    - TF_VAR_allowed_ipaddr_list=${TF_VAR_allowed_ipaddr_list}
    - TF_VAR_aws_access_key=${AWS_ACCESS_KEY_ID}
    - TF_VAR_aws_default_region=${AWS_DEFAULT_REGION}
    - TF_VAR_aws_secret_key=${AWS_SECRET_ACCESS_KEY}
    - TF_VAR_azure_default_location=${AZURE_DEFAULT_LOCATION}
    - TF_VAR_gcp_project_id=${CLOUDSDK_CORE_PROJECT}
    - TF_VAR_project_unique_id=${PROJECT_UNIQUE_ID}
  user: "${UID:-0}:${GID:-0}"
  volumes:
    - provisioning-home-developer:/home/developer
    - provisioning-home-root:/root # for macOS
    - /var/run/docker.sock:/var/run/docker.sock
    - ./Dockerfile.d:/project/Dockerfile.d
    - ./config:/project/config
    - ./provisioning:/project/workspace
    - ./scripts:/project/scripts
    - ./tmp/provisioning:/tmp/provisioning
  working_dir: /project/workspace

services:
  provisioning:
    <<: *provisioning-base
version: "3.8"
volumes:
  provisioning-home-developer:
    driver: local
  provisioning-home-root:
    driver: local
