version: "3.7"
services:
  provisioning:
    build:
      context: Dockerfile.d/provisioning
      args:
        UID: ${UID:-0}
        GID: ${GID:-0}
    command:
      - bash
      - -lc
      - |
        . /project/scripts/provisioning.init-with-google.sh
    environment:
      - AWS_ACCESS_KEY_ID
      - AWS_ACCOUNT_ID
      - AWS_SECRET_ACCESS_KEY
      - CURRENT_ENV_NAME
      - CLOUDSDK_CORE_PROJECT
      - GOOGLE_APPLICATION_CREDENTIALS=/project/config/${CURRENT_ENV_NAME}/credentials/google-cloud-keyfile.json
      - PROJECT_UNIQUE_ID
      - TF_DATA_DIR=/tmp/provisioning
      - TF_VAR_aws_access_key=${AWS_ACCESS_KEY_ID}
      - TF_VAR_aws_secret_key=${AWS_SECRET_ACCESS_KEY}
      - TF_VAR_gcp_project_id=${CLOUDSDK_CORE_PROJECT}
      - TF_VAR_project_unique_id=${PROJECT_UNIQUE_ID}
    user: "${UID:-0}:${GID:-0}"
    volumes:
      - provisioning-tmp:/tmp/provisioning
      - provisioning-home-root:/root # for macOS
      - provisioning-home-developer:/home/developer
      - /var/run/docker.sock:/var/run/docker.sock
      - ./Dockerfile.d:/project/Dockerfile.d
      - ./config:/project/config
      - ./provisioning:/project/workspace
      - ./scripts:/project/scripts
    working_dir: /project/workspace
volumes:
  provisioning-tmp:
    driver: local
  provisioning-home-root:
    driver: local
  provisioning-home-developer:
    driver: local
